version: 2.1
workflows:
  testing:
    jobs:
      - runner-test
jobs:
  runner-test:
    resource_class: minhquangvu1995/testing-circleci-kubernates
    docker: # run the steps with Docker
      - image: cimg/php:7.4.26-apache
    steps:
      - run: echo "Hi I'm on Runners!"
      - run: echo $CIRCLE_BRANCH
      - run: sudo git fetch