version: 2.1
workflows:
  ten-workflow:
    jobs:
      - checkout_code
jobs:
  checkout_code:
    parallelism: 1
    executor:
      name: build-test
    working_directory: ~/.
    steps:
      - checkout
      - persist_to_workspace:
          root: ~/.
          paths:
           - ./*
executors:
 build-test:
   docker:
     - image: cimg/php:7.4.26