version: 2.1
workflows:
  ten-workflow:
    jobs:
      - ten-job-la-day
jobs:
  ten-job-la-day:
    docker: # run the steps with Docker
      - image: cimg/php:7.4.26-apache
    steps:
      - checkout
      - run: cp .env.example .env
      - run: echo "Hi I'm on Runners!"
      - run: echo $CIRCLE_BRANCH