version: 2.1
workflows:
  my-workflows:
    jobs:
      - checkout_code
      - build:
         requires:
           - checkout_code # để job build có thể truy xuất tới file job checkout_code
jobs: #define các job
  checkout_code: #tên job
    parallelism: 1
    executor:
      name: build-test
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths:
           - ./*
  build:
    executor:
      name: build-test
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Configure PHP env
          command: cp .env.example .env
      - persist_to_workspace:
          root: .
          paths:
            - ./*

executors:
 build-test:
    docker:
      - image: cimg/php:7.4.26