version: 2.1
workflows:
  testing:
    jobs:
      - runner-test
jobs:
  runner-test:
    machine: true
    resource_class: minhquangvu1995/testing-circleci-kubernates
    steps:
      - run: echo "Hi I'm on Runners!"
      - run: echo $CIRCLE_BRANCH
