version: 2.1
workflows:
  my-workflows: # tên workflow
    jobs:
      - checkout_code
      - build:
         requires:
           - checkout_code # để job build có thể truy xuất tới file job checkout_code

jobs: # define các job
  checkout_code: # tên job
    parallelism: 1 # chạy song song nhiều test job
    executor:
      name: build-test
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths:
           - ./*
  build:
    executor:
      name: build-test
    steps:
      - attach_workspace: # đính kèm các file trong job checkout_code
          at: .
      - run:
          name: Configure PHP env
          command: cp .env.example .env
      - chmod_777
      - persist_to_workspace:
          root: .
          paths:
            - ./*

executors:
 build-test:
    docker:
      - image: cimg/php:7.4.26

commands: # define các command
  chmod_777:
    steps:
      - run:
          name: chmod 777 (directory permission adjustment)
          command: |
           chmod 777 -R storage
           chmod 777 -R bootstrap/cache
           chmod 777 -R abc